* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/myriadpro-light.otf);
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url(fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: "WorkSans Bold";
  font-weight: bold;
  src: url(fonts/WorkSans-Bold.otf);
}
@font-face {
  font-family: "WorkSans Regular";
  font-weight: medium;
  src: url(fonts/WorkSans-Regular.otf);
}
.clear-fix:after {
	content: " ";
	display: block;
	clear: both;
	width: 100%;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1150px;
	margin: 0px auto;
}

.container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
}

#hero {
	height: 1000px;
	padding-top: 48px;
	background-color: #0fd5ef;
	background-image: url(images/wave.png), url(images/smartphone.png), url(images/bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom, center bottom -77px, center bottom;
}
header {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
header img {
	display: inline-block;
}
header ul li {
	display: inline-block;
}
header ul li a {
	font-size: 16px;
	color: white;
	padding: 0px 30px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
}
header ul li a:last-child {
	padding-right: 0px;
}
#hero h1 {
	width: 575px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	font-weight: bold;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
    margin: 134px auto 0px auto;
}
#hero h2 {
	width: 575px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	font-family: "Myriad Pro", sans-serif;
	color: white;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: normal;
}
#hero #actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	font-size: 14px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	margin-left: 13px;
	margin-right: 13px;
}
#hero #actions {
	text-align: center;
	margin-top: 41px;
}
#hero #actions a:first-child {
	background-color: white;
}
#hero #actions a:nth-child(2){
	border: 1px solid white;
	color: white;
}

/** features **/

#features {
	background-color: #fafafc;
	height: 1095px;
}
#features .container {
	display: flex;
	justify-content: space-between;
}

#features #phone-image > img {
	margin-top: 290px;
	margin-left: 110px;
}

#feature-list {
	position: relative;
}
#feature-list div {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 320px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	padding: 60px 30px 34px 30px;
}
#feature-list div:nth-child(1){
	right: 370px;
	top: 117px;
}
#feature-list div:nth-child(2){
	right: 38px;
	top: 213px;
}
#feature-list div:nth-child(3){
	right: 437px;
	top: 511px;
}
#feature-list div:nth-child(4){
	right: 87px;
	top: 635px;
}

#feature-list div img {
    margin: 0px auto;
    display: block;
}
#feature-list div h3 {
	text-align: center;
	font-size: 14px;
	font-family: "WorkSan Bold", sans-serif;
	line-height: 27px;
	color: #233148;
	margin-top: 29px;
	margin-bottom: 16px;
}
#feature-list div p {
	text-align: center;
	font-size: 14px;
	font-family: "WorkSan Regular", sans-serif;
	line-height: 27px;
	color: #6a6d89;
}

/** stable **/
#stable {
	padding-top: 83px;
	padding-bottom: 103px;
	display: flex;
	justify-content: space-between;
	height: 625px;
}

#stable > div {
	width: 470px;
}
#stable > ul {
	width: 570px;
}
#stable > div > h2 {
	margin-top: 48px;
	text-align: right;
}
#stable > div > p {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 53px;
	font-family: "Myriad Pro", sans-serif;
}
#stable > div > div {
	text-align: right;
}
#stable > div > div > a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #33d2fd;
	padding: 0px 44px;
	border-radius: 5px;
	font-size: 15px;
	font-family: "WorkSans Bold", sans-serif;
}

#stable ul li p {
	display: none;
	padding-left: 80px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans Bold", sans-serif;
	transition: height 5s ease 1s;
}

#stable li {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 4px;
	transition: height 2s ease 1s;
}
#stable li a {
	line-height: 75px;
	padding-left: 80px;
	font-size: 15px;
	color: #233148;
	font-family: "WorkSans Bold", sans-serif;
	background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    width: 100%;
    background-position: 26px center;
}
#stable li:nth-child(1) a {
	background-image: url(images/heart.png);
}
#stable li:nth-child(2) a {
	background-position: 34px center;
	background-image: url(images/tag.png);
}
#stable li:nth-child(3) a {
	background-image: url(images/brifcase.png);
}
#stable li:nth-child(4) a {
	background-image: url(images/pencil.png);
}

#stable li:hover {
	background-color: #33d2fd;
	padding-bottom: 26px;
}
#stable li:hover p {
	display: block;
}

/** everything**/

#everything-code {
	background-color: #fafafc;
	}
#everything {
	background-color: #fafafc;
	display: flex;
	justify-content: space-between;
}
#everything > div {
	margin-left: 130px;
}
#everything > img {
	margin-top: 60px;
	margin-bottom: 70px;
}
#everything > div > h2 {
	margin-top: 80px;
}
#everything > div > ul > li {
	margin: 15px 0px;
	padding-left: 35px;
	line-height: 27px;
	background-image: url(images/check.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
#everything > div > ul > li a {
	font-size: 14px;
	line-height: 27px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
}
#everything > div > p {
	font-size: 14px;
	line-height: 27px;
	padding-right: 15px;
	font-family: "WorkSans Regular", sans-serif;
	color: #6a6d89;
}
#available {
	height: 765px;
	background-image: url(images/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
#available #smartphone2 {
	float: left;
	width: 570px;
	padding-top: 110px;
	padding-left: 180px;

}
#content-available {
	float: right;
	width: 570px;
	padding-top: 270px;
}
#content-available h2 {
	font-family: "WorkSans Bold", sans-serif;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
}
#content-available p {
	font-family: "WorkSans Regular", sans-serif;
	font-size: 14px;
	line-height: 27px;
	padding-right: 125px;
	color: white;
}
#content-available ul {
	display: flex;
	padding-top: 15px;
}
#content-available ul li {
	margin-right: 40px;
}
#available div > a {
	display: inline-block;
	position: absolute;
	line-height: 60px;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%, 0);
	background-image: linear-gradient(to bottom ,#fe7570,#f6387d);
	font-size: 20px;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
	padding: 0 40px;
	box-shadow: 11px 0px 29px rgba(255, 7, 95, 0.2);
}
#links {
	display: flex;
	padding-top: 145px;
	padding-bottom: 100px;
	justify-content: center;
}
#links div {
	width: 200px;
}
#links div:nth-child(4) {
	width: auto;
}
#links div ul h3 {
	font-family: "WorkSans Bold", sans-serif;
	line-height: 27px;
	font-size: 15px;
	color: #233148;
	padding-bottom: 18px;
}
#links div li a {
	font-family: "WorkSans Regular", sans-serif;
	line-height: 27px;
	font-size: 14px;
	color: #6a6d89;
}
#get-in-touch {
	text-align: center;
}
#get-in-touch h2 {
	font-family: "WorkSans Bold", sans-serif;
	line-height: 60px;
	font-size: 30px;
	color: #233148;
}
#get-in-touch p {
	padding-top: 16px;
	font-family: "WorkSans Regular", sans-serif;
	line-height: 27px;
	font-size: 14px;
	color: #6a6d89;
}
#get-in-touch form {
	margin-top: 70px;
	margin-bottom: 80px;

}
#get-in-touch input {
	width: 570px;
	height: 50px;
	background-color: #f6f7fb;
	border: none;
	border-radius: 3px;
	padding: 0px 18px;
	font-size: 16px;
}
#get-in-touch button {
	width: 170px;
	height: 50px;
	background-color: #33d2fd;
	border: none;
	border-radius: 3px;
	font-family: "WorkSans Bold", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 27px;
	color: #233148;
	margin-left: 35px;
}

/** footer **/

footer {
	background-color: #233148;
	height: 100px;
}
footer div p {
	display: inline-block;
	width: 50%;
	line-height: 100px;
	font-family: "WorkSans Regular", sans-serif;
	font-size: 14px;
	color: white;
}
footer div ul {
	display: inline-block;
	float: right;
}
footer div ul li {
	display: inline-block;
	line-height: 100px;
	margin-left: 45px;
}
footer div ul li img {
	vertical-align: middle;
}


/*Responsive*/

@media screen and (max-width: 1200px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	/**features**/
	#features {
		height: auto;
	}
	#features .container {
		display: flex;
		text-align: center;
		padding: 220px 0px;
	}
	#phone-image {
		width: 50%;
	}
	#features #phone-image img {
		margin: auto auto;
		padding-top: 30px;
	}
	#feature-list {
		width: 50%;
		margin-right: 20px;
	}
	#feature-list div {
		position: static;
		width: 100%;
		height: auto;
		padding: 20px 30px;
	}
	#feature-list div img {
		float: left;
	}
	#feature-list div h3 {
		margin-top: 0px;
		text-align: left;
		margin-left: 82px;
	}
	#feature-list div p {
		text-align: left;
		margin-left: 82px;
	}
	/** stable **/
	#stable div {
		padding: 0px 20px;
	}
	#stable ul {
		width: 50%;
		padding: 0px 20px 0px 10px;
	}
	/** everything **/
	#everything {
		display: inline-flex;
		padding: 80px 0px;
	}
	#everything img {
		width: 50%;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 20px;
	}
	#everything div {
		margin-left: 20px;
		width: 50%;
	}
	#everything div h2 {
		padding-top: 0px;
		margin-top: 0px;
	}

	/** available **/

	#available #smartphone2 {
		width: 50%;
		padding-left: 112px;
	}
	#available #content-available {
		width: 50%;
	}

	/** footer **/

	footer .container {
		padding: 0px 40px;
	}
}
@media screen and (max-width: 960px) {
	/** header **/

	header ul li a {
		font-size: 18px;
	}

	/** hero **/
	#hero h1 {
		font-size: 40px;
		margin-top: 80px;
	}
	#hero h2 {
		font-size: 18px;
	}
	#hero #actions a {
		height: 50px;
		line-height: 50px;
		padding: 0px 45px;
		font-size: 16px;
	}

	/** features **/

	#features .container {
		padding: 100px 0px;
	}
	#feature-list div {
		margin-bottom: 10px;
	}
	#feature-list div h3 {
		margin-bottom: 5px;
	}

	/** stable **/

	#stable > div > h2 {
		margin-top: 0px;
		padding-top: 7px;
	}

	/** everything **/

	#everything {
		padding: 50px 10px;
	}

	#everything img {
		margin: auto 20px;
	}
	#everything div {
		margin-left: 0px;
	}
	#everything div ul li {
		margin: 10px 0px;
	}

	/** Available **/

	#available {
		height: 760px;
	}

	#available #smartphone2 {
		padding-left: 0px;
		padding-top: 100px;
		text-align: center;
	}
	#content-available {
		padding-top: 250px;
	}
	#content-available p {
		padding-right: 10px;
	}
	#content-available ul li {
		margin-right: 20px;
	}
	/** links **/

	#links {
		padding-top: 130px;
		padding-bottom: 80px;
	}
	form {
		display: block;
	}
	#get-in-touch input {
		width: 500px;
		margin-bottom: 15px;
	}
	#get-in-touch button {
		margin-left: 20px;
	}

	/** footer **/

	footer div p {
		max-width: 40%;
	}
	footer div ul li {
		margin-left: 35px;
	}
}
@media screen and (max-width: 768px) {
	/** hero **/

	#hero h1 {
		width: auto;
		font-size: 35px;
		line-height: 40px;
	}
	#hero h2 {
		width: auto;
	}
	#phone-image {
		display: none;
	}

	/** features **/

	#feature-list {
		width: 100%;
		margin-left: 20px;
	}
	#smartphone2 {
		display: none;
	}
	#content-available ul {
		display: inline-block;
	}

	/** stable **/

	#stable {
		display: inline-block;
		padding-top: 50px;
		padding-bottom: 50px;
		height: auto;
	}
	#stable > div {
		width: 100%;
		padding-bottom: 50px;
	}
	#stable > div > h2 {
		text-align: center;
	}
	#stable > div > p {
		text-align: justify;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#stable > div > div {
		text-align: center;
	}
	#stable ul {
		width: 100%;
		padding: 0px 0px;
	}
	/** everything **/
	#everything {
		display: inline-block;
	}
	#everything img {
		width: 100%;
		margin-left: 0px;
	}
	#everything div {
		width: 100%;
	}
	#everything > div > h2 {
		text-align: center;
		padding-top: 25px;
		justify-content: center;
		line-height: 50px;
	}
	#everything > div > ul {
		text-align: center;
	}
	#everything > div > ul > li {
		display: inline-flex;
		padding: 0px 30px;
	}
	#everything > div > p {
		padding: 0px 20px;
		text-align: justify;
	}

	/** Available **/
	#available {
		height: 400px;
	}
	#available #content-available {
		width: 100%;
		padding-top: 50px;
	}
	#content-available h2 {
		padding-bottom: 10px;
	}
	#content-available p {
		padding-right: 0px;
		padding-bottom: 10px;
	}
	#content-available ul {
		width: 100%;
		display: inline-flex;
		justify-content: center;	
	}
	#available div > a {
		font-size: 19px;
	}
	/** links **/

	/** get in touch **/
	form input {
		display: block;
		margin: 20px auto;
		max-width: 450px;
	}
	form button {
		display: inline-block;
		text-align: center;
	}
	/** footer **/
	footer {
		height: auto;
	}
	footer div p {
		max-width: 100%;
		width: 100%;
		text-align: center;
		line-height: 50px;
	}
	footer div ul {
		float: none;
		width: 100%;
		text-align: center;
		padding-bottom: 10px;

	}
	footer div ul li {
		margin: 0px 20px;
		line-height: 0px;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 500px) {

	#hero {
		padding-top: 30px;
	}
	#hero #actions a {
		margin-bottom: 10px;
	}
	header {
		display: block;
		text-align: center;
	}
	header ul li a {
		padding: 0px 30px;
	}
	#features .container {
		padding: 50px 0px;
	}
	#content-available h2 {
		text-align: center;
	}
	#available div > a {
		height: 60px;
		width: 50%;
		padding: 0 0;
		text-align: center;
	}
	#content-available ul li {
		margin-right: 0px;
		text-align: center;
	}
	#content-available ul li img {
		width: 90%;
		text-align: center;
		margin-right: 0px;
	}
	#get-in-touch input {
		max-width: 100%;
	}
	footer div ul li {
		margin: 0 5%;
	}

}
















